/* Configuration */
$ms-base: 16px;
$ms-ratio: 1.2;
$enable-rounded: false;
$enable-flex: true;
$enable-print-styles: false;
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover, a:focus';
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$containers: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

/* Sans-serif */
$helvetica-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
/* Serif */
$palatino-font-stack: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif !default;
/* Monotyped */
$courier-font-stack: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace !default;

/* Vendor */
@import "bower_components/compass-mixins/lib/_compass.scss";
@import "bower_components/compass-mixins/lib/compass/_css3.scss";
@import "bower_components/modular-scale/stylesheets/_modularscale.scss";
@import "bower_components/include-media/dist/_include-media.scss";

/* Global styles */
body {
  font-size: $ms-base;
  font-weight: 400;
  font-family: $palatino-font-stack;
  color: #222;
  ::selection {
    background-color: #20B5CC;
  }
}

/* Plugin-specific styles */
#fullpage {
  .layer {
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 43%;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  .section p,
  .section .slide p {
    font-size: ms(1);
    line-height: 1.4;
    text-align: justify;
  }
  .fp-controlArrow.fp-prev,
  .fp-controlArrow.fp-next {
    width: 3.5em;
    height: 3.5em;
    border-width: 0;
    border-color: transparent;
    @include media("<=md") {
      display: none;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2.5em;
      height: 0.5em;
      border-radius: 0.25em;
      background-color: black;
      -webkit-transition: all 0.15s ease, background-color 0.4s ease;
      transition: all 0.15s ease, background-color 0.4s ease;
      -webkit-transform-origin: 0.2em 50%;
      -ms-transform-origin: 0.2em 50%;
      transform-origin: 0.2em 50%;
    }
    &:before {
      -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
      -ms-transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
      transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
    }
    &:after {
      -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
      -ms-transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
      transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
    }
    &:hover:before,
    &:hover:after,
    &:active:before,
    &:active:after,
    &:focus:before,
    &:focus:after {
      background-color: white;
    }
  }
  .fp-controlArrow.fp-prev {
    top: initial;
    right: 4.5em;
    bottom: 3.5em;
    left: initial;
  }
  .fp-controlArrow.fp-next {
    top: initial;
    right: 1em;
    bottom: 3.5em;
    left: initial;
    transform: rotate(180deg);
  }

  #{$a-tags}{color: inherit;text-decoration: none;border-bottom: 1px dashed black;}
  #{$a-tags-hover}{color: inherit;text-decoration: none;border-bottom: 1px solid black;}
  h1, h2, h3, h4, h5, h6 {
    font-family: $helvetica-font-stack;
    font-weight: 300;
    margin: 0 auto 0.5rem auto;
    text-align: center;
  }
  h1 {
    font-size: ms(6);
    line-height: 1.2;
  }
  h2 {
    font-size: ms(5);
    line-height: 1.2;
  }
  h3 {
    font-size: ms(4);
    line-height: 1.3;
  }
  h4 {
    font-size: ms(3);
    line-height: 1.35;
  }
  h5 {
    font-size: ms(2);
    line-height: 1.5;
  }
  h6 {
    font-size: ms(1);
    line-height: 1.6;
  }
  img {
    width: auto;
    max-width: 90%;
    max-width: 90vw;
    height: auto;
    max-height: 90%;
    max-height: 90vh;
    margin: 0 auto;
    display: block;
  }
  p,
  ul,
  ol,
  pre {
    font-size: ms(1);
    padding-left: 7em;
    padding-right: 7em;
    @include media(">=xl") {
      padding-left: 12em;
      padding-right: 12em;
    }
    @include media("<xl", ">=lg") {
      padding-left: 7em;
      padding-right: 7em;
    }
    @include media("<lg", ">=md") {
      padding-left: 5em;
      padding-right: 5em;
    }
    @include media("<md") {
      padding-left: 2.5em;
      padding-right: 2.5em;
    }
    @include media("<sm") {
      padding-left: 2em;
      padding-right: 2em;
    }
  }
  figure {
    margin: 0;
    padding: 0;
    figcaption {
      margin: 0.5em auto;
      text-align: center;
    }
  }
  pre {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    code {
      width: 100%;
      font-family: $courier-font-stack;
      font-size: 12px;
    }
  }
  code {
    color: #880000;
    background: #F0F0F0;
    word-wrap: break-word;
  }
  .backgroundVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index:3;
  }
}
#fp-nav {
  @include media("<=md") {
    display: none;
  }
}