/* Configuration */
/* Sans-serif */
/* Serif */
/* Monotyped */
/* Vendor */
/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
/* Global styles */
body {
  font-size: 16px;
  font-weight: 400;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  color: #222;
}

body ::selection {
  background-color: #20B5CC;
}

/* Plugin-specific styles */
#fullpage .layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 43%;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#fullpage .section p,
#fullpage .section .slide p {
  font-size: 19px;
  line-height: 1.4;
  text-align: justify;
}

#fullpage .fp-controlArrow.fp-prev,
#fullpage .fp-controlArrow.fp-next {
  width: 3.5em;
  height: 3.5em;
  border-width: 0;
  border-color: transparent;
}

@media (max-width: 768px) {
  #fullpage .fp-controlArrow.fp-prev,
  #fullpage .fp-controlArrow.fp-next {
    display: none;
  }
}

#fullpage .fp-controlArrow.fp-prev:before, #fullpage .fp-controlArrow.fp-prev:after,
#fullpage .fp-controlArrow.fp-next:before,
#fullpage .fp-controlArrow.fp-next:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5em;
  height: 0.5em;
  border-radius: 0.25em;
  background-color: black;
  -webkit-transition: all 0.15s ease, background-color 0.4s ease;
  transition: all 0.15s ease, background-color 0.4s ease;
  -webkit-transform-origin: 0.2em 50%;
  -ms-transform-origin: 0.2em 50%;
  transform-origin: 0.2em 50%;
}

#fullpage .fp-controlArrow.fp-prev:before,
#fullpage .fp-controlArrow.fp-next:before {
  -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
  -ms-transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
  transform: translateX(0.5em) translateY(1.55em) rotate(45deg);
}

#fullpage .fp-controlArrow.fp-prev:after,
#fullpage .fp-controlArrow.fp-next:after {
  -webkit-transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
  -ms-transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
  transform: translateX(0.5em) translateY(1.55em) rotate(-45deg);
}

#fullpage .fp-controlArrow.fp-prev:hover:before, #fullpage .fp-controlArrow.fp-prev:hover:after, #fullpage .fp-controlArrow.fp-prev:active:before, #fullpage .fp-controlArrow.fp-prev:active:after, #fullpage .fp-controlArrow.fp-prev:focus:before, #fullpage .fp-controlArrow.fp-prev:focus:after,
#fullpage .fp-controlArrow.fp-next:hover:before,
#fullpage .fp-controlArrow.fp-next:hover:after,
#fullpage .fp-controlArrow.fp-next:active:before,
#fullpage .fp-controlArrow.fp-next:active:after,
#fullpage .fp-controlArrow.fp-next:focus:before,
#fullpage .fp-controlArrow.fp-next:focus:after {
  background-color: white;
}

#fullpage .fp-controlArrow.fp-prev {
  top: initial;
  right: 4.5em;
  bottom: 3.5em;
  left: initial;
}

#fullpage .fp-controlArrow.fp-next {
  top: initial;
  right: 1em;
  bottom: 3.5em;
  left: initial;
  transform: rotate(180deg);
}

#fullpage a, #fullpage a:active, #fullpage a:hover, #fullpage a:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed black;
}

#fullpage a:active, #fullpage a:hover, #fullpage a:focus {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid black;
}

#fullpage h1, #fullpage h2, #fullpage h3, #fullpage h4, #fullpage h5, #fullpage h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0 auto 0.5rem auto;
  text-align: center;
}

#fullpage h1 {
  font-size: 48px;
  line-height: 1.2;
}

#fullpage h2 {
  font-size: 40px;
  line-height: 1.2;
}

#fullpage h3 {
  font-size: 33px;
  line-height: 1.3;
}

#fullpage h4 {
  font-size: 28px;
  line-height: 1.35;
}

#fullpage h5 {
  font-size: 23px;
  line-height: 1.5;
}

#fullpage h6 {
  font-size: 19px;
  line-height: 1.6;
}

#fullpage img {
  width: auto;
  max-width: 90%;
  max-width: 90vw;
  height: auto;
  max-height: 90%;
  max-height: 90vh;
  margin: 0 auto;
  display: block;
}

#fullpage p,
#fullpage ul,
#fullpage ol,
#fullpage pre {
  font-size: 19px;
  padding-left: 7em;
  padding-right: 7em;
}

@media (min-width: 1200px) {
  #fullpage p,
  #fullpage ul,
  #fullpage ol,
  #fullpage pre {
    padding-left: 12em;
    padding-right: 12em;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  #fullpage p,
  #fullpage ul,
  #fullpage ol,
  #fullpage pre {
    padding-left: 7em;
    padding-right: 7em;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  #fullpage p,
  #fullpage ul,
  #fullpage ol,
  #fullpage pre {
    padding-left: 5em;
    padding-right: 5em;
  }
}

@media (max-width: 767px) {
  #fullpage p,
  #fullpage ul,
  #fullpage ol,
  #fullpage pre {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}

@media (max-width: 575px) {
  #fullpage p,
  #fullpage ul,
  #fullpage ol,
  #fullpage pre {
    padding-left: 2em;
    padding-right: 2em;
  }
}

#fullpage figure {
  margin: 0;
  padding: 0;
}

#fullpage figure figcaption {
  margin: 0.5em auto;
  text-align: center;
}

#fullpage pre {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#fullpage pre code {
  width: 100%;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 12px;
}

#fullpage code {
  color: #880000;
  background: #F0F0F0;
  word-wrap: break-word;
}

#fullpage .backgroundVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index: 3;
}

@media (max-width: 768px) {
  #fp-nav {
    display: none;
  }
}
