/**
 * Presentation Plugin additions to Reveal.js
 */
/* Includes */
@import url(../node_modules/normalize.css/normalize.css);
/* Responsive breakpoints */
/* Structure */
.reveal.overview .slides section {
  width: calc(100% - 0px) !important;
  min-width: calc(100% - 0px) !important;
  max-width: calc(100% - 0px) !important;
  height: calc(100% - 0px) !important;
  min-height: calc(100% - 0px) !important;
  max-height: calc(100% - 0px) !important; }
  .reveal.overview .slides section section {
    padding-top: 9rem !important; }

@media (max-width: 319px) {
  .reveal:not(.overview) {
    font-size: 16px; } }

@media (min-width: 320px) {
  .reveal:not(.overview) {
    font-size: 18px; } }

@media (min-width: 576px) {
  .reveal:not(.overview) {
    font-size: 20px; } }

@media (min-width: 768px) {
  .reveal:not(.overview) {
    font-size: 22px; } }

@media (min-width: 992px) {
  .reveal:not(.overview) {
    font-size: 24px; } }

@media (min-width: 1200px) {
  .reveal:not(.overview) {
    font-size: 26px; } }

@media (min-width: 1600px) {
  .reveal:not(.overview) {
    font-size: 28px; } }

.reveal:not(.overview) .slides section {
  width: calc(100% - 0px) !important;
  min-width: calc(100% - 0px) !important;
  max-width: calc(100% - 0px) !important;
  height: calc(100% - 0px) !important;
  min-height: calc(100% - 0px) !important;
  max-height: calc(100% - 0px) !important; }
  .reveal:not(.overview) .slides section section {
    width: calc(100% - 0px) !important;
    min-width: calc(100% - 0px) !important;
    max-width: calc(100% - 0px) !important;
    height: calc(100% - 0px) !important;
    min-height: calc(100% - 0px) !important;
    max-height: calc(100% - 0px) !important;
    padding: 7rem 1.75rem 3.5rem 1.75rem !important; }
    @media (max-width: 319px) {
      .reveal:not(.overview) .slides section section {
        padding: 1rem 0.5rem 0.5rem 0.5rem !important; } }
    @media (min-width: 320px) {
      .reveal:not(.overview) .slides section section {
        padding: 2rem 1rem 1rem 1rem !important; } }
    @media (min-width: 576px) {
      .reveal:not(.overview) .slides section section {
        padding: 4.5rem 1.5rem 3rem 1.5rem !important; } }
    @media (min-width: 768px) {
      .reveal:not(.overview) .slides section section {
        padding: 7rem 1.75rem 3.5rem 1.75rem !important; } }
    @media (min-width: 992px) {
      .reveal:not(.overview) .slides section section {
        padding: 8rem 2rem 4rem 2rem !important; } }
    @media (min-width: 1200px) {
      .reveal:not(.overview) .slides section section {
        padding: 9rem 2.25rem 4.5rem 2.25rem !important; } }
    @media (min-width: 1600px) {
      .reveal:not(.overview) .slides section section {
        padding: 10rem 2.5rem 5rem 2.5rem !important; } }
    .reveal:not(.overview) .slides section section.start {
      width: calc(100% - 0px) !important;
      min-width: calc(100% - 0px) !important;
      max-width: calc(100% - 0px) !important;
      height: calc(100% - 0px) !important;
      min-height: calc(100% - 0px) !important;
      max-height: calc(100% - 0px) !important;
      padding: 0 !important; }
    .reveal:not(.overview) .slides section section.skinny {
      width: calc(100% - 0px) !important;
      min-width: calc(100% - 0px) !important;
      max-width: calc(100% - 0px) !important;
      height: calc(100% - 0px) !important;
      min-height: calc(100% - 0px) !important;
      max-height: calc(100% - 0px) !important;
      padding: 1rem !important; }
    .reveal:not(.overview) .slides section section.end {
      width: calc(100% - 0px) !important;
      min-width: calc(100% - 0px) !important;
      max-width: calc(100% - 0px) !important;
      height: calc(100% - 0px) !important;
      min-height: calc(100% - 0px) !important;
      max-height: calc(100% - 0px) !important;
      padding: 2rem 2rem !important; }
    .reveal:not(.overview) .slides section section h1 {
      margin-bottom: 0.8rem; }
    .reveal:not(.overview) .slides section section h2 {
      margin-bottom: 0.7rem; }
    .reveal:not(.overview) .slides section section h3 {
      margin-bottom: 0.6rem; }
    .reveal:not(.overview) .slides section section h4 {
      margin-bottom: 0.5rem; }
    .reveal:not(.overview) .slides section section h5 {
      margin-bottom: 0.4rem; }
    .reveal:not(.overview) .slides section section h6 {
      margin-bottom: 0.3rem; }
    .reveal:not(.overview) .slides section section blockquote {
      margin: 0.75rem; }

/* Style */
.reveal .slides section section,
.reveal.center .slides section section {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 2rem; }
  @media (min-width: 1600px) {
    .reveal .slides section section,
    .reveal.center .slides section section {
      font-size: 3rem; } }
  .reveal .slides section section *,
  .reveal.center .slides section section * {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%; }
  .reveal .slides section section img,
  .reveal .slides section section canvas,
  .reveal.center .slides section section img,
  .reveal.center .slides section section canvas {
    display: block;
    object-fit: initial;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto 0; }
  .reveal .slides section section blockquote p,
  .reveal.center .slides section section blockquote p {
    margin: 0; }
  .reveal .slides section section object,
  .reveal.center .slides section section object {
    width: 100%;
    height: 100%; }
  .reveal .slides section section p,
  .reveal.center .slides section section p {
    margin: 0 0 1em 0; }
  .reveal .slides section section ul,
  .reveal .slides section section ol,
  .reveal.center .slides section section ul,
  .reveal.center .slides section section ol {
    width: calc(100% - 3em);
    max-width: 100%;
    margin: 0 1em 1em 2em;
    list-style-position: outside; }
    .reveal .slides section section ul ul,
    .reveal .slides section section ul ol,
    .reveal .slides section section ol ul,
    .reveal .slides section section ol ol,
    .reveal.center .slides section section ul ul,
    .reveal.center .slides section section ul ol,
    .reveal.center .slides section section ol ul,
    .reveal.center .slides section section ol ol {
      margin: 0 0 0 1em; }

.reveal .slides section.skinny p,
.reveal.center .slides section.skinny p {
  margin: 0; }

.reveal .slides section.start,
.reveal.center .slides section.start {
  top: 0 !important; }
  .reveal .slides section.start h2,
  .reveal.center .slides section.start h2 {
    margin: 0;
    height: calc(50% - 6rem) !important;
    height: calc(50% - 6rem) !important;
    min-height: calc(50% - 6rem) !important;
    max-height: calc(50% - 6rem) !important;
    width: calc(100% - 4rem) !important;
    min-width: calc(100% - 4rem) !important;
    max-width: calc(100% - 4rem) !important;
    padding: 6rem 2rem 0rem 2rem; }
    @media (min-width: 1600px) {
      .reveal .slides section.start h2,
      .reveal.center .slides section.start h2 {
        height: calc(50% - 15rem) !important;
        height: calc(50% - 15rem) !important;
        min-height: calc(50% - 15rem) !important;
        max-height: calc(50% - 15rem) !important;
        width: calc(100% - 5rem) !important;
        min-width: calc(100% - 5rem) !important;
        max-width: calc(100% - 5rem) !important;
        padding: 15rem 5rem 0rem 5rem; } }
  .reveal .slides section.start p:first-of-type,
  .reveal.center .slides section.start p:first-of-type {
    height: calc(50% - 4rem) !important;
    min-height: calc(50% - 4rem) !important;
    max-height: calc(50% - 4rem) !important;
    width: calc(100% - 4rem) !important;
    min-width: calc(100% - 4rem) !important;
    max-width: calc(100% - 4rem) !important;
    margin: 0;
    padding: 2rem; }

.presentation-iframe {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available; }

#clockbox {
  padding: 0.1rem;
  color: #222222;
  font-size: 4rem;
  font-family: Helvetica, sans-serif;
  background: white;
  border: 1px solid #9E9E9C;
  position: absolute;
  right: 0.25rem;
  bottom: 0.25rem;
  z-index: 9999; }

#snackbar {
  visibility: hidden;
  color: #ffffff;
  background-color: #dc3545;
  text-align: center;
  border-radius: 0.125em;
  padding: 1em;
  position: fixed;
  z-index: 9999;
  left: 2.5%;
  bottom: 2.5%; }
  #snackbar.visible {
    visibility: visible !important;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s; }
  #snackbar a,
  #snackbar a:link,
  #snackbar a:visited,
  #snackbar a:hover,
  #snackbar a:active {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none; }
  #snackbar a:hover,
  #snackbar a:active {
    text-decoration: underline; }

/* Include theme template */

/*# sourceMappingURL=presentation.css.map */