{% extends "forms/field.html.twig" %}

{% block field %}
    {% if field.link is defined %}
        {% set href = field.link %}
    {% else %}
        {% set href = presentation_base_url ~ context.route %}
    {% endif %}
    {% if field.mode is defined %}
        {% if field.mode == 'view_notes' %}
            {% set query = '?showNotes=true' %}
        {% elseif field.mode == 'admin' %}
            {% set query = '?admin=true' %}
        {% elseif field.mode == 'admin_notes' %}
            {% set query = '?admin=true&showNotes=true' %}
        {% elseif field.mode == 'print' %}
            {% set query = '?print-pdf=true' %}
        {% elseif field.mode == 'print_styled' %}
            {% set query = '?print-pdf=true&theme=basic' %}
        {% else %}
            {% set query = '' %}
        {% endif %}
    {% endif %}
    <a href="{{ href }}{{ query }}" class="button">{{ field.label|t|e('html_attr') }}</a>
{% endblock %}