{% extends "forms/field.html.twig" %}

{% block contents %}
    <div class="button-bar" style="margin:0;padding:0;text-align:left;background:0;z-index:2;">
        {%- if field.fields -%}
        {%- for child in field.fields -%}
            {%-
                include [
                    "forms/fields/#{child.type}/#{child.type}.html.twig",
                    'forms/fields/text/text.html.twig'
                ] with { field: child, value: null }
            -%}
        {%- endfor -%}
        {%- endif -%}
    </div>
{% endblock %}